<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta 09</title>
    <style>body{font:'Arial' normal 18px;margin: 0; padding: 50; color: rgb(80, 80, 80)}</style>
</head>
<body>
    <h1>Título</h1>
    <h3>Incentive as crianças a fazer amizade com crianças de diferentes culturas.</h3>
    <h1>Descrição</h1>
    <h3>Incentivar crianças a fazer amigos de culturas diferentes, como no papel de pai ou professor.</h3>
    <h1>Justificativa</h1>
    <h3>No mundo globalizado em que vivemos hoje, é essencial ensinar as crianças a viver com as diferenças entre as culturas, para que elas percebam que, apesar dessas diferenças, todos somos iguais.</h3>
    <h1>Processo</h1>
    <h3>Eduque as crianças sobre diferenças culturais 
        Ensine empatia 
        Ajude crianças a descobrir o que elas tem em comum com outras pessoas. 
        Ajude crianças a imaginar o que as outras pessoas estão sentindo ou pensando. 
        Ajude crianças a identificar os tipos de emoções. 
        Previna situações de bullying. 
        Façam com que as crianças sejam expostas a culturas, raças e religiões diferentes. 
        É importante mostrar as culturas da própria família, suas tradições e celebrações. 
        Procure filmes, séries e livros de outros países, sejam traduzidos ou no idioma original com legendas. 
        Leia livros para crianças que abordem o assunto, deixe que elas experimentem culinárias de diversas culturas e deixem elas ouvirem músicas de outras culturas para que aprendam a ter percepção dos outros, pois elas serão acostumadas ao sons e palavras faladas em culturas diferentes 
        Encontre atividades que a criança gosta e sinta entusiasmo e ela vai criar laços com as outras crianças. 
        Observação: Cada pessoa tem suas próprias crenças e hábitos e, apesar da criança ser parte de uma cultura, elas não precisam ter a pressão de serem embaixadoras para as próprias culturas e não devem esperar que seus amigos e colegas sejam o mesmo para as culturas deles, ensine-as a serem autênticas. 
        Fonte: 
        https://www.parentingscience.com/teaching-empathy-tips.html 
        https://www.kiddiwinkie.com.sg/ask-expert-6-tips-help-child-make-friends/ 
        https://www.coloradoparent.com/ideas-teaching-kids-ages-cultures/ 
        https://kingsschools.org/community-connections/building-cross-cultural-friendships/ 
        https://www.psychologies.co.uk/five-factors-influence-how-easily-your-children-make-friends
        </h3>
    <h1>Meta</h1>
    <h3>Conversar com a criança ou crianças e identificar uma atividade que elas possam fazer que cumpra o objetivo de ampliar as possibilidades para criação de amizades com pessoas de culturas diferentes.</h3>
</body>
</html>