<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta 20</title>
    <style>body{font:'Arial' normal 18px;margin: 0; padding: 50; color: rgb(80, 80, 80)}</style>
</head>
<body>
    <h1>Título</h1>
    <h3>Vacine você e seus filhos. Proteger sua família contra doenças também ajuda a saúde pública.</h3>
    <h1>Descrição</h1>
    <h3>Vacine você e seus filhos.</h3>
    <h1>Justificativa</h1>
    <h3>Proteger sua família contra doenças também ajuda a saúde pública.</h3>
    <h1>Processo</h1>
    <h3>Vacine a si mesmo 
        Procure a sua carteirinha de vacinação e veja se ainda falta tomar uma vacina planejada. 
        Encontre informações sobre programas de vacinação em progresso para o seu perfil. 
        Procure um posto de saúde (de preferência da sua região) e fique sabendo se ele tem a vacina. 
        Procure saber se é necessário marcar hora (para evitar filas). 
        Vá ao posto de saúde e tome a vacina. 
        Vacine seus filhos 
        Procure ou faça uma carteirinha de vacinação para seus filhos. 
        Veja quais vacinas seus filhos tem que tomar e quando. 
        Encontre informações sobre programas de vacinação em progresso para o perfil dos seus filhos. 
        Procure um posto de saúde, de preferência na sua região, que tenha as vacinas. 
        Vá ao posto de saúde com seus filhos para tomarem as vacinas.
        </h3>
        <h1>Meta</h1>
        <h3>Ter uma carteira de vacinação sua, ou de seus filhos. 
            Tomar todas as vacinas necessárias e saber as datas para as próximas. 
            Manter-se consciente sobre programas de vacinação para o seu perfil.
            </h3>
</body>
</html>