<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta 16</title>
    <style>body{font:'Arial' normal 18px;margin: 0; padding: 50; color: rgb(80, 80, 80)}</style>

</head>
<body>
    <h1>Título</h1>
    <h3>Quando você entrar em lojas ou ir em mercados, faça escolhas favoráveis ao meio ambiente.</h3>
    <h1>Descrição</h1>
    <h3>Comprar produtos levando em consideração o impacto no meio ambiente.</h3>
    <h1>Justificativa</h1>
    <h3>Os produtos que compramos no dia-a-dia deixam um rastro duradouro no planeta. O plástico que jogamos fora leva milhares de anos para se degradar. Muitos alimentos vêm de áreas de desmatamento. Nossas compras rotineiras envolvem uma cadeia de lojas, indústrias, transportadoras e agricultores que despejam na atmosfera até 77% dos gases que estão mudando o clima da Terra. A boa notícia é que existem cada vez mais produtos que ajudam a proteger a natureza e garantir que o planeta continuará a nos oferecer um ambiente saudável sem que seja necessário abrir mão dos confortos da vida moderna. Só precisamos saber escolher.
        Fonte: http://revistaepoca.globo.com/Revista/Epoca/0,,EMI8555-15204,00-COMPRE+VERDE.html
</h3>
    <h1>Processo</h1>
    <h3>Conhecer os processos de produção dos produtos que mais impactam o meio ambiente.""

        Escolher embalagens sustentáveis feitas de materiais orgânicos, recicláveis ou biodegradáveis e cuja produção demanda menos energia e recursos naturais.
        
        Buscar por embalagens com ""Selos"" que reconheçam e certifiquem o compromisso com sustentabilidade e meio ambiente
        
        https://emejr.com.br/embalagens-sustentaveis/
        
        PARA QUE UMA EMPRESA SEJA CONSIDERADA SUSTENTÁVEL AMBIENTALMENTE E SOCIALMENTE, ELA DEVE ADOTAR ATITUDES ÉTICAS, PRÁTICAS QUE VISEM SEU CRESCIMENTO ECONÔMICO SEM AGREDIR O MEIO AMBIENTE.
        -Diminua o consumo de descartáveis: Incentive os seus colaboradores a utilizarem garrafas ou canecas que podem ser lavados e não descartados.
        -Use luzes fluorescentes: As lâmpadas de LED possuem uma vida útil dez vezes maior do que as comuns e não têm o mesmo impacto no meio ambiente.
        -Reduza o uso de energia elétrica: Em vez de depender apenas da luz elétrica, pinte as paredes da empresa com cores claras e em dias mais frescos deixe as janelas abertas, para o que o ambiente fique mais fresco, dispensando o uso do ar condicionado.
        -Diminua o uso de papel: O papel pode ser substituído por maneiras alternativas de distribuir informação, em vez de imprimir diversas cópias de um relatório, considere enviar uma versão digital via e-mail.
        -Separe e descarte corretamente o lixo produzido: Além de ajudar o meio ambiente, o empreendedor ainda vai colaborar para a geração de empregos da indústria de separação de lixo.
        -Trabalhe com empresas verdes: Priorize parcerias com empresas que trabalham de forma sustentável, por exemplo, que oferecem serviços de bikeboys ao invés de motoboys.
        -Utilize seus equipamentos de forma consciente e eficiente: Equipamentos eletrônicos como os computadores e estabilizadores gastam energia mesmo quando estão em standy-by, por isso o ideal é que você desligue-os totalmente, retirando tudo da tomada após o expediente.
        -Use equipamentos mais sustentáveis: Troque os aparelhos ultrapassados por produtos alternativos mais adequados, que tenham menores emissões de elementos químicos danosos no meio ambiente e que utilizem a energia de forma mais inteligente.
        -Use produtos biodegradáveis: Os produtos biodegradáveis causam menos danos ao ecossistema, pois são compostos por itens orgânicos e a decomposição é mais rápida na natureza.
        
        https://www.trisoft.com.br/9-dicas-para-tornar-sua-empresa-amiga-do-meio-ambiente/
        </h3>
    <h1>Meta</h1>
    <h3>Em toda compra ler a descrição da embalagem
        Buscar opções alternativas caso não identifique compromisso sustentavel da empresa
        Independente do produto, sempre buscar fazer o descarte correto da embalagens
        </h3>
</body>
</html>