<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta 02</title>
    <style>body{font:'Arial' normal 18px;margin: 0; padding: 50; color: rgb(80, 80, 80)}</style>
</head>
<body>
    <h1>Título</h1>
    <h3>Pague uma refeição para alguém que precisa.</h3>
    <h1>Descrição</h1>
    <h3>Pague uma refeição para uma pessoa. Pode ser feito até aleatoriamente, mas faça somente se isso não comprometer o seu orçamento.	</h3>
    <h1>Justificativa</h1>
    <h3>Esse é um ato de bondade e você estará ajudando uma pessoa.</h3>
    <h1>Processo</h1>
    <h3>Ofereça a gentileza. Se ela aceitar pague a conta ou dê o valor de uma refeição para ela.</h3>
    <h1>Meta</h1>
    <h3>Pagar uma refeição para uma pessoa.</h3>
</body>
</html>