<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta 11</title>
    <style>body{font:'Arial' normal 18px;margin: 0; padding: 50; color: rgb(80, 80, 80)}</style>
</head>
<body>
    <h1>Título</h1>
    <h3>Eduque-se sobre o patrimônio cultural e natural de sua região. Visite locais históricos e publique sobre eles de maneira positiva.</h3>
    <h1>Descrição</h1>
    <h3>Procurar informações sobre o patrimônio cultural da sua região, fazer uma visita e produzir um conteúdo para compartilhar.</h3>
    <h1>Justificativa</h1>
    <h3>É importante apreciar o patrimônio cultural porque com ele podemos definir nossa identidade e nossa ligação com a própria cultura.
        "Patrimônio cultural é tudo aquilo que possui importância histórica e cultural para um país ou uma pequena comunidade, como a arquitetura, festas, danças, música, manifestações populares, artes, culinária, entre outros."
        Fonte: https://www.educamaisbrasil.com.br/educacao/dicas/o-que-e-patrimonio-cultural
        </h3>
    <h1>Processo</h1>
    <h3>Procure informações sobre o patrimônio cultural da sua região. Pode ser um local com valor histórico ou um evento cultural. Escolha um local para visitar. Tente levar alguém com você.
        
        Procure informações como o endereço e o horário de funcionamento e como chegar lá.
        
        Aproveite a visita e tire uma foto se quiser.
        
        Depois deixe registrado a visita de algum modo, publicando em suas redes sociais. 
        
        Pode ser até um simples comentário sobre a visita para a família e amigos, ou uma foto que você tenha tirado.
        
        Em São José dos Campos:
        
        Procure sobre a região central da cidade, por exemplo.
        
        Vídeos sobre patrimônio cultural na cidade: https://www.youtube.com/watch?v=lNZXQYHkAAA https://www.youtube.com/watch?v=Hb9N9EZhPr8</h3>
    <h1>Meta</h1>
    <h3><Apreciar o patrimônio cultural da sua região e compartilhar para que outros sejam lembrados que podem aproveitar o mesmo./h3>
</body>
</html>