<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta 05</title>
    <style>body{font:'Arial' normal 18px;margin: 0; padding: 50; color: rgb(80, 80, 80)}</style>
</head>
<body>
    <h1>Título</h1>
    <h3>Apoie entidades que dão o acesso a água potável para populações necessitadas no Brasil.</h3>
    <h1>Descrição</h1>
    <h3>Comece a apoiar entidades que dão o acesso à agua potável para populações necessitadas no Brasil.</h3>
    <h1>Justificativa</h1>
    <h3>35% dos brasileiros não tem acesso a agua potável
        Fonte 1: Sistema Nacional de Informações sobre Saneamento - SNIS 2018
        
        14,3% das crianças e dos adolescentes não têm acesso à água.
        Fonte 3: Pobreza na Infância 2018 - UNICEF
                
        Fonte:  http://www.tratabrasil.org.br/saneamento/principais-estatisticas/no-brasil/agua>
        </h3>
    <h1>Processo</h1>
    <h3>Ler a página sobre o cenário atual e saber mais sobre alguns projetos de entidades que dão o acesso a água potável.
        Aprenda sobre o cenário atual. Link: http://www.tratabrasil.org.br/saneamento/principais-estatisticas/no-brasil/agua
        Dê uma olhada em alguns desses links:
        Conheça o projeto Amigos do Bem. Link: https://www.amigosdobem.org/
        Aprenda sobre o projeto do Instituto Água Viva. Link: https://www.institutoaguaviva.org.br/
        Aprenda sobre o Projeto Água+Acesso.
        Link: https://www.cocacolabrasil.com.br/historias/agua-acesso-conheca-o-programa-e-saiba-quem-faz-parte-dessa-alianca-inedita-com-a-coca-cola-brasil
        Link: https://www.cocacolabrasil.com.br/historias/alianca-seleciona-projetos-inovadores-para-acesso-e-tratamento-da-agua-no-brasil
        Saiba mais sobre Agua ama. Link: https://www.aguaama.com.br/
        Se quer ser voluntário, uma opção é o Habitat para a Humanidade Brasil.
        Link: https://habitatbrasil.org.br/projetos/acesso-a-agua/agua-para-vidas/
        </h3>
    <h1>Meta</h1>
    <h3>Saber qual é o cenário atual no Brasil e conhecer ao menos uma entidade que dão o acesso a água potável no Brasil.</h3>
</body>
</html>