<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Igualdade de gênero</title>
    <style>h1{font-size: 30;font-weight: 900;}h3{font-size: 24;font-weight: 600;}h6{font-size: 20;font-weight: 500;}</style>
</head>
<body style="margin: 0;padding: 30;color:rgb(80,80,80);font-family: Arial;font-weight: normal;text-align: justify;">
    <h1 style="text-align: center;text-transform: uppercase;">Igualdade de gênero</h1>
    <h3>Alcançar a igualdade de gênero e empoderar todas as mulheres e meninas</h3>
    <p>A igualdade de gênero não é apenas um direito humano fundamental, mas a base necessária para a construção de um mundo pacífico, próspero e sustentável. O esforço de alcance do ODS 5 é transversal à toda Agenda 2030 e reflete a crescente evidência de que a igualdade de gênero tem efeitos multiplicadores no desenvolvimento sustentável.</p>
    <p>Muitos avanços em termos de assegurar melhores condições de vida a mulheres e meninas são um importante legado dos ODM. Os Objetivos de Desenvolvimento Sustentável visam intensificar estas realizações, não apenas nas áreas de saúde, educação e trabalho, mas especialmente no combate às discriminações e violências baseadas no gênero e na promoção do empoderamento de mulheres e meninas para que possam atuar enfaticamente na promoção do desenvolvimento sustentável, por meio da participação na política, na economia, e em diversas áreas de tomada de decisão.</p>
    <p>O desenvolvimento sustentável não será alcançado se as barreiras tangíveis e intangíveis que impedem o pleno desenvolvimento e exercício das capacidades de metade da população não forem eliminadas.</p>
    <h6>Metas</h6>
    <ol>
        <li>Acabar com todas as formas de discriminação contra todas as mulheres e meninas em toda parte</li>
        <li>Eliminar todas as formas de violência contra todas as mulheres e meninas nas esferas públicas e privadas, incluindo o tráfico e exploração sexual e de outros tipos</li>
        <li>Eliminar todas as práticas nocivas, como os casamentos prematuros, forçados e de crianças e mutilações genitais femininas</li>
        <li>Reconhecer e valorizar o trabalho de assistência e doméstico não remunerado, por meio da disponibilização de serviços públicos, infraestrutura e políticas de proteção social, bem como a promoção da responsabilidade compartilhada dentro do lar e da família, conforme os contextos nacionais</li>
        <li>Garantir a participação plena e efetiva das mulheres e a igualdade de oportunidades para a liderança em todos os níveis de tomada de decisão na vida política, econômica e pública</li>
        <li>Assegurar o acesso universal à saúde sexual e reprodutiva e os direitos reprodutivos, como acordado em conformidade com o Programa de Ação da Conferência Internacional sobre População e Desenvolvimento e com a Plataforma de Ação de Pequim e os documentos resultantes de suas conferências de revisão</li>
        <ul>
            <li>Realizar reformas para dar às mulheres direitos iguais aos recursos econômicos, bem como o acesso a propriedade e controle sobre a terra e outras formas de propriedade, serviços financeiros, herança e os recursos naturais, de acordo com as leis nacionais</li>
            <li>Aumentar o uso de tecnologias de base, em particular as tecnologias de informação e comunicação, para promover o empoderamento das mulheres</li>
            <li>Adotar e fortalecer políticas sólidas e legislação aplicável para a promoção da igualdade de gênero e o empoderamento de todas as mulheres e meninas em todos os níveis</li>
        </ul>
    </ol>
    <h6>Principais Fatos</h6>
    <p>No Sul da Ásia, apenas 74 meninas foram matriculadas na escola primária para cada 100 meninos, em 1990. Em 2012, as taxas de matrícula foram as mesmas para meninas e para meninos.</p>
    <p>Na África Subsaariana, Oceania e Ásia Ocidental, meninas ainda enfrentam barreiras para entrar tanto na escola primária quanto na escola secundária.</p>
    <p>Mulheres na África do Norte ocupam menos de um a cada cinco empregos pagos em setores que não sejam a agricultura.</p>
    <p>Em 46 países, as mulheres agora ocupam mais de 30% das cadeiras no parlamento nacional em pelo menos uma câmara.</p>
</body>
</html>
